
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700|Hind:400,500,600,700|Quattrocento:400,700");
body {
  font-family: 'Hind', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #646464; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  color: #121619;
  margin: 0px; }


ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #646464;
  margin: 0px; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #1971c2;
  padding: 0 30px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: #1971c2;
  box-shadow: 0px 5px 16px 0px #d0ebff;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase; }
  .main-btn i {
    margin-right: 5px; }
  .main-btn:hover {
    background-color: #fff;
    color: #1971c2;
    border-color: #1971c2; }
  .main-btn.main-btn-2 {
    background-color: #fff;
    color: #1971c2;
    border-color: #1971c2; }
    .main-btn.main-btn-2:hover {
      background-color: #1971c2;
      border-color: #1971c2;
      color: #fff; }

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  color: #1971c2;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .sub-title {
      font-size: 16px; } }

.section-title .title {
  font-size: 35px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px; } }

/*===== All Animation Title Style =====*/
.animation-one {
  animation: rotate 15s linear infinite; }

@keyframes rotate {
  0% {

    transform: rotate(0deg); }
  100% {

    transform: rotate(360deg); } }


/* Preloader Animations Toadd  */
/*===========================
   1. Main page
===========================*/



.first-page
{
  background-color: black;
  height: 700px;
  font-size:80px;
  color: white;
  text-align: center;
  padding: 20%;
}


/*===========================
    2.HEADER css 
===========================*/
.header-area {
  position: relative; }
  .header-area .shape {
    position: absolute; }
  .header-area .header-shape-one {
    top: 0;
    left: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .header-shape-one {
        width: 230px; } }
    @media (max-width: 767px) {
      .header-area .header-shape-one {
        width: 180px; } }
  .header-area .header-shape-tow {
    top: 25px;
    left: 31%; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .header-shape-tow {
        left: 40%; } }
    @media (max-width: 767px) {
      .header-area .header-shape-tow {
        left: 60%;
        width: 60px; } }
  .header-area .header-shape-three {
    left: 70px;
    bottom: 130px; }
    @media (max-width: 767px) {
      .header-area .header-shape-three {
        width: 90px;
        bottom: 200px; } }
  .header-area .header-shape-fore {
    left: 48%;
    bottom: -90px;

    transform: translateX(-50%); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .header-shape-fore {
        width: 260px; } }
    @media (max-width: 767px) {
      .header-area .header-shape-fore {
        bottom: -60px;
        width: 210px; } }

.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 25px 0;
  transition: all 0.4s ease-out 0s; }
  .navigation-bar.sticky {
    position: fixed;
    background-color: #fff;

    box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.2);
    z-index: 99;
    padding: 15px 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navigation-bar.sticky .navbar-btn {
        top: 50%;

        transform: translateY(-50%); } }
    @media (max-width: 767px) {
      .navigation-bar.sticky .navbar-btn {
        top: 50%;

        transform: translateY(-50%); } }

.navbar {
  padding: 0;
  position: relative; }
  .navbar .navbar-brand img {
    max-width: 112px; }
  .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #646464;
    margin: 5px 0; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-collapse {
      position: absolute;
      top: 128%;
      width: 100%;
      left: 0;
      background-color: #fff;
      padding: 5px 15px;
      z-index: 9;
 
      box-shadow: 0px 5px 25px 0px rgba(244, 128, 74, 0.3); } }
  @media (max-width: 767px) {
    .navbar .navbar-collapse {
      position: absolute;
      top: 128%;
      width: 100%;
      left: 0;
      background-color: #fff;
      padding: 5px 15px;
      z-index: 9;

      box-shadow: 0px 5px 25px 0px rgba(244, 128, 74, 0.3); } }
  .navbar .navbar-nav .nav-item {
    margin-right: 30px; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .navbar .navbar-nav .nav-item {
        margin-right: 25px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar .navbar-nav .nav-item {
        margin: 5px 0; } }
    @media (max-width: 767px) {
      .navbar .navbar-nav .nav-item {
        margin: 5px 0; } }
    .navbar .navbar-nav .nav-item a {
      color: #646464;
      font-family: 'Hind', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 0.4s ease-out 0s; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .navbar .navbar-nav .nav-item a {
          font-size: 13px; } }
    .navbar .navbar-nav .nav-item.active a, .navbar .navbar-nav .nav-item:hover a {
      color: #1971c2; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-btn {
      position: absolute;
      right: 70px;
      top: 0; } }
  @media (max-width: 767px) {
    .navbar .navbar-btn {
      position: absolute;
      right: 70px;
      top: 0; } }

.header-banner {
  height: 700px;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-banner {
      height: 500px; } }
  @media (max-width: 767px) {
    .header-banner {
      height: 500px; } }
  .header-banner .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%; }
  .header-banner .banner-content {
    position: relative;
    z-index: 9; }
    .header-banner .banner-content .sub-title {
      font-size: 24px;
      color: #1971c2;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .header-banner .banner-content .sub-title {
          font-size: 18px; } }
    .header-banner .banner-content .banner-title {
      font-size: 60px; }
      .header-banner .banner-content .banner-title span {
        color: #1971c2; }
      @media (max-width: 767px) {
        .header-banner .banner-content .banner-title {
          font-size: 38px; } }
    .header-banner .banner-content .banner-contact {
      position: relative;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Barlow', sans-serif;
      color: #1971c2;
      text-transform: uppercase;
      margin-left: 70px; }
      .header-banner .banner-content .banner-contact::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 2px;
        background-color: #1971c2;
        left: -70px;
        top: 50%;
        transform: translateY(-50%); }

/*===========================
    3.ABOUT css 
===========================*/
@media (max-width: 767px) {
  .about-area {
    padding-top: 30px;
    padding-bottom: 80px; } }

.about-image {
  position: relative; }
  .about-image::before {
    position: absolute;
    content: '';
    background-image: url(../images/about/dots.jpg);
    background-position: center center;
    background-size: 100%;
    width: 375px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; }
    @media (max-width: 767px) {
      .about-image::before {
        display: none; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-image::before {
        display: block; } }
  .about-image .single-image {
    width: 360px; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .about-image .single-image {
        width: 280px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-image .single-image {
        width: 400px; } }
    @media (max-width: 767px) {
      .about-image .single-image {
        width: 100%; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-image .single-image {
        width: 360px; } }
    .about-image .single-image img {
      width: 100%; }
    .about-image .single-image.image-tow {
      margin-top: -200px;
      position: relative;
      z-index: 5; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .about-image .single-image.image-tow {
          margin-top: -150px; } }
      @media (max-width: 767px) {
        .about-image .single-image.image-tow {
          margin-top: 30px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .about-image .single-image.image-tow {
          margin-top: -200px; } }
  .about-image .about-btn {
    position: relative;
    margin-left: 80px;
    margin-top: -40px;
    display: inline-block;
    z-index: 9; }
    @media (max-width: 767px) {
      .about-image .about-btn {
        margin: 0 auto;
        display: block;
        text-align: center; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-image .about-btn {
        margin-left: 80px;
        display: inline-block;
        text-align: left;
        margin-top: -50px; } }
    .about-image .about-btn .main-btn {
      line-height: 58px;
      padding: 0 40px;
      border: 8px solid #fff;
      font-weight: 700;
  
      box-shadow: none; }
      .about-image .about-btn .main-btn span {
        font-size: 35px; }
        @media (max-width: 767px) {
          .about-image .about-btn .main-btn span {
            font-size: 28px; } }
      .about-image .about-btn .main-btn:hover {
        border-color: #1971c2; }
      @media (max-width: 767px) {
        .about-image .about-btn .main-btn {
          line-height: 48px;
          padding: 0 30px;
          font-size: 14px;
          margin-top: -25px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .about-image .about-btn .main-btn {
          line-height: 48px;
          padding: 0 30px;
          font-size: 14px;
          margin-top: -25px; } }

.about-content .about-welcome {
  font-size: 24px;
  color: #1971c2;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .about-content .about-welcome {
      font-size: 18px; } }

.about-content .about-title {
  font-size: 35px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .about-content .about-title {
      font-size: 26px; } }

/*===========================
      4.SERVICES css 
===========================*/
@media (max-width: 767px) {
  .services-area {
    padding-top: 75px;
    padding-bottom: 80px; } }

.single-services {
  padding: 50px 30px;
  background-color: #fff;
  transition: all 0.4s ease-out 0s; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-services {
      padding: 30px 10px; } }
  @media (max-width: 767px) {
    .single-services {
      padding: 30px 10px; } }
  .single-services .services-icon i {
    font-size: 52px;
    color: #1971c2;
    transition: all 0.4s ease-out 0s; }
  .single-services .services-content .services-title {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    transition: all 0.4s ease-out 0s; }
  .single-services:hover {
    background-color: #1971c2; }
    .single-services:hover .services-icon i {
      color: #fff; }
    .single-services:hover .services-content .services-title,
    .single-services:hover .services-content p {
      color: #fff; }

/*===========================
      5.PROJECT css 
===========================*/
@media (max-width: 767px) {
  .project-area {
    padding-top: 75px;
    padding-bottom: 80px; } }

.single-project {
  position: relative; }
  .single-project .project-image {
    position: relative; }
    .single-project .project-image::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: white;

      background: linear-gradient(rgba(255, 255, 255, 0) 50%, #1864ab 100%);
      opacity: 0;
      transition: all 0.4s ease-out 0s; }
  .single-project .project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 35px 5px;
    transform: translateY(100%);
    transition: all 0.4s ease-out 0s;
    opacity: 0; }
    .single-project .project-content .project-title {
      font-size: 22px;
      font-weight: 600;
      font-family: 'Barlow', sans-serif;
      position: relative;
      color: #fff;
      margin-left: 60px; }
      .single-project .project-content .project-title::before {
        position: absolute;
        content: '';
        width: 50px;
        height: 1px;
        background-color: #fff;
        top: 50%;
        left: -60px; }
  .single-project:hover .project-image::before {
    opacity: 1; }
  .single-project:hover .project-content {
    opacity: 1;

    transform: translateY(0%); }

.project-active .slick-dots {
  text-align: center;
  margin-top: 50px; }
  .project-active .slick-dots li {
    display: inline-block;
    margin: 0 7px; }
    .project-active .slick-dots li button {
      width: 25px;
      height: 15px;
      border-radius: 50px;
      border: 0;
      background-color: #228be6;
      transition: all 0.4s ease-out 0s;
      font-size: 0;
      cursor: pointer; }
    .project-active .slick-dots li.slick-active button {
      width: 35px;
      background-color: #1971c2; }

/*===========================
        6.TEAM css 
===========================*/
@media (max-width: 767px) {
  .team-area {
    padding-top: 75px;
    padding-bottom: 80px; } }

.single-team .team-image img {
  width: 100%; }

.single-team .team-content {
  width: 80%;
  margin: 0 auto;
  padding: 30px 15px;
  position: relative;
  transition: all 0.4s ease-out 0s; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-team .team-content {
      padding: 30px 0; } }
  .single-team .team-content .team-name a {
    font-size: 18px;
    font-weight: 600;
    color: #121619;
    font-family: 'Hind', sans-serif;
    transition: all 0.4s ease-out 0s; }
    .single-team .team-content .team-name a:hover {
      color: #1971c2; }
  .single-team .team-content .sub-title {
    font-size: 14px;
    color: #646464; }
  .single-team .team-content .social {
    margin-top: -35px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-out 0s; }
    .single-team .team-content .social li {
      display: inline-block;
      margin: 0 7px; }
      .single-team .team-content .social li a {
        font-size: 16px;
        color: #646464;
        width: 30px;
        height: 30px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: #ededed;
        transition: all 0.4s ease-out 0s; }
        .single-team .team-content .social li a:hover {
          background-color: #1971c2;
          color: #fff; }

.single-team:hover .team-content {
  background-color: #fff;
  margin-top: -60px;
  box-shadow: 0px 6px 16px 0px #4dabf7; }
  .single-team:hover .team-content .social {
    margin-top: 25px;
    opacity: 1;
    visibility: visible; }

/*===========================
      7.TESTIMONIAL css 
===========================*/
.testimonial-area {
  position: relative; }
  @media (max-width: 767px) {
    .testimonial-area {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .testimonial-area .shape {
    position: absolute; }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .testimonial-area .shape img {
        width: 325px; } }
  .testimonial-area .shape-one {
    top: 25px;
    left: 50px; }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .testimonial-area .shape-one {
        left: 20px; } }
  .testimonial-area .shape-tow {
    left: 150px;
    bottom: 50px; }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .testimonial-area .shape-tow {
        left: 70px; } }
  .testimonial-area .shape-three {
    right: 85px;
    bottom: 30px; }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .testimonial-area .shape-three {
        right: 35px; } }

.testimonial-bg {
  position: relative;
  z-index: 9; }

.testimonial-active {
  background-color: #1971c2;
  padding: 60px 30px; }
  @media (max-width: 767px) {
    .testimonial-active {
      padding: 30px 15px; } }

.single-testimonial .testimonial-image {
  position: relative;
  display: inline-block; }
  .single-testimonial .testimonial-image img {
    border-radius: 50%; }
  .single-testimonial .testimonial-image .quota {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block; }
    .single-testimonial .testimonial-image .quota i {
      font-size: 18px;
      color: #1971c2;
      width: 30px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      background-color: #fff;
      border: 2px solid #1971c2;
      border-radius: 50%; }

.single-testimonial .testimonial-content p {
  font-size: 18px;
  color: #fff;
  font-family: 'Hind', sans-serif; }

.single-testimonial .testimonial-content .testimonial-name {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 600; }

.single-testimonial .testimonial-content .sub-title {
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  color: #fff; }

.testimonial-active .slick-dots {
  text-align: center;
  margin-top: 10px; }
  .testimonial-active .slick-dots li {
    display: inline-block;
    margin: 0 5px; }
    .testimonial-active .slick-dots li button {
      width: 18px;
      height: 15px;
      border-radius: 50px;
      border: 0;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.4s ease-out 0s;
      font-size: 0;
      cursor: pointer; }
    .testimonial-active .slick-dots li.slick-active button {
      background-color: #fff;
      width: 25px; }



/*===========================
       10.FOOTER css 
===========================*/
.footer-widget{
  background-color: #121619;
}

@media (max-width: 767px) {
  .footer-widget {
    padding-top: 30px;
    padding-bottom: 80px; } }

.footer-logo a img {
  width: 140px; }

.footer-logo p {
  line-height: 26px;
  font-size: 16px; }

.footer-logo .footer-info li {
  margin-top: 20px; }
  .footer-logo .footer-info li .single-info {
    position: relative; }
    .footer-logo .footer-info li .single-info .info-icon {
      position: absolute;
      top: 3px;
      left: 0; }
      .footer-logo .footer-info li .single-info .info-icon i {
        font-size: 18px;
       }
    .footer-logo .footer-info li .single-info .info-content {
      padding-left: 30px; }

.footer-logo .footer-social li {
  display: inline-block;
  margin-left: 15px; }
  .footer-logo .footer-social li:first-child {
    margin-left: 0; }
  .footer-logo .footer-social li a {
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff5f1;
    color: #646464;
    font-size: 16px;
    box-shadow: 0px 5px 21px 0px rgba(254, 119, 101, 0.4);

    transition: all 0.4s ease-out 0s; }
    .footer-logo .footer-social li a:hover {
      background-color: #1971c2;
      color: #fff; }

.f-title .title {
  font-size: 22px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600; }

.footer-link ul li {
  padding-top: 5px; }
  .footer-link ul li a {
    font-size: 16px;
    color: #646464;
    font-family: 'Hind', sans-serif;
    transition: all 0.4s ease-out 0s; }
    .footer-link ul li a:hover {
      color: #1971c2; }


.copyright-area {
  border-top: 1px solid #eceff8;
  padding: 13px 0; }

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 46px;
  z-index: 99;
  text-align: center;
  display: none;
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  transition: all 0.4s ease-out 0s;
  color: #fff;
  background-color: #1971c2; }
  .back-to-top:hover {
    color: #1971c2;
    background-color: #fff; }
